@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap');

:root {
    --cor-01: rgb(51, 0, 75);
    --cor-02: rgb(109, 32, 143);
    --cor-03: rgb(255, 194, 103);
    --cor-04: rgb(151, 151, 151);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        90deg,
        var(--cor-01),
        var(--cor-02));
    animation: gradiente 20s ease infinite;
    background-size: 150% 150%;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 60%;
    height: 100%;
    padding: 30px 40px;
}

h1 {
    text-align: center;
    padding-bottom: 30px;
    font-family: "SUSE", sans-serif;
    color: var(--cor-03);
}

.container-nova-tarefa {
    display: flex;
    padding: 30px 20px;
    border-radius: 15px;
    font-family: "SUSE", sans-serif;
    background-color: #fff;
}

.input-nova-tarefa {
    flex: 3;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid var(--cor-04);
    padding: 5px;
    border-radius: 7px;
}

.input-nova-tarefa:focus {
    outline: none;
    border: 2px solid var(--cor-03);
}

.button-nova-tarefa {
    flex: 1;
    margin-left: 15px;
    padding: 10px;
    border-radius: 7px;
    border: none;
    font-size: 1rem;
    color: var(--cor-01);
    background-color: var(--cor-03);
    box-shadow: 2px 2px 3px rgb(148, 148, 148);
    cursor: pointer;
}

.button-nova-tarefa:hover {
    color: var(--cor-01);
    filter: brightness(1.1);
}

.container-lista-vazia {
    color: var(--cor-04);
    margin-top: 45px;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
}

.container-lista-tarefas {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.tarefa {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: var(--cor-01);
    cursor: pointer;
}

.tarefa p {
    width: 90%;
    word-wrap: break-word ;
}

.tarefa:hover {
    color: var(--cor-02);
}

.bi-trash3-fill:hover {
    color: var(--cor-03);
}

.concluido {
    text-decoration: line-through;
    color: var(--cor-04);
}

.ocultar {
    display: none;
}

@keyframes gradiente {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 720px) {
    .container {
        max-width: 95%;
        padding: 15px 0px;
    }

    .container-nova-tarefa {
        min-width: max-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .input-nova-tarefa {
        width: 95%;
    }

    .button-nova-tarefa {
        margin-left: 0px;
        margin-top: 15px;
    }

    .container-lista-tarefas {
        min-width: 250px;
    }
}